.section2{
    margin: 0 auto;
    width: 1170px;
    justify-content: flex-start;
    align-items: end;
    border: 2px solid #EBEBEBCC
}
.Content{
    display: flex;
    margin-bottom: 0px;
    justify-content: space-between;
    border: 2px solid rgba(235, 235, 235, 0.8);
    border-radius: 5px;
    padding: 50px;

}
h1{
    font-size: 40px;
    color:#3D3D3F;
    text-align: center;
}
.Complete_project{

    border: 2px;
}
.Icon{
    width: 99.68px;
    height: 90px;

}
.line{
    height: 212px;
    border: 1px solid rgba(235, 235, 235, 0.8);
}
p{
    text-align: center;
   font-size: 24px;
   line-height: 31px;
   color: #3D3D3F;
   opacity: 0.7;
}
h2{
    text-align: center;
    font-size: 36px;
    line-height: 47px;
    color: #3D3D3F;

}